<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Introdução ao Vue JS</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

    <div id="app">
        <gui-titulo v-bind:titulo="meuTitulo"></gui-titulo>
        <input type="text" v-model="meuTitulo">
        <gui-tabela v-bind:titulos="['Titulo','Descrição','Link']" v-bind:registros="registros"></gui-tabela>
        <p v-once>{{meuTitulo}}</p>
        <p v-once>{{html}}</p>
        <p v-html="html"></p>
        <p>{{25.989285511 | TrataValor }}</p>

    </div>

    <script type="text/javascript">
        Vue.component('gui-titulo', {
            props: ['titulo'],
            template: '<h2>{{titulo}}</h2>'
        });

        Vue.component('gui-tabela', {
            props: ['titulos', 'registros'],
            template: '<table style="width:100%">' +
                '<thead>' +
                '<tr>' +
                '<th v-for="titulo in titulos">{{titulo}}</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody>' +
                '<tr v-for="registro in registros">' +
                '<td v-for="item in registro">{{item}}</td>' +
                '</tr>' +
                '</tbody>' +
                '</table>'

        });

        var app = new Vue({
            el: "#app",
            data: {
                meuTitulo: 'Esse é o Título',
                registros: [{
                        titulo: 'Titulo1',
                        descricao: 'descricao1',
                        link: 'link1'
                    },
                    {
                        titulo: 'Titulo2',
                        descricao: 'descricao2',
                        link: 'link2'
                    },
                    {
                        titulo: 'Titulo3',
                        descricao: 'descricao3',
                        link: 'link3'
                    }
                ],
                html: '<a href=""> Esse é um Link </a>'
            },
            filters: {
                TrataValor: function (valor) {
                    return ('R$' + (valor).toFixed(2)).replace('.', ',');
                }
            }
        });
    </script>

</body>

</html>