<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Introdução ao Vue JS</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

    <div id="app">
        <gui-titulo titulo="Formulários"></gui-titulo>

        <p>Texto:{{texto}}</p>
        <p>
            <input type="text" v-model="texto">
        </p>
        <p>Textarea:{{textarea}}</p>
        <p style="white-space:pre-line">{{textarea}}</p>
        <p>
            <textarea v-model="textarea" rows="8" cols="80"></textarea>
        </p>
        <p>Checkbox:</p>
        <input type="checkbox" id="aceitaTermos" v-model="termos">
        <label for="aceitaTermos ">{{termos}}</label>

        <p>Multiple Checkboxes {{notificacoes}}</p>
        <p>
            <input type="checkbox" id="receberEmail" value="email" v-model="notificacoes">
            <label for="receberEmail">Receber e-mail</label>
            <input type="checkbox" id="receberSMS" value="sms" V-model="notificacoes">
            <label for="receberSMS">Receber SMS</label>
            <input type="checkbox" id="receberCarta" value="carta" V-model="notificacoes">
            <label for="receberCARTA">Receber Carta </label>
        </p>
        <p>
            <input type="radio" id="Feminino" value="F" v-model="sexo">
            <label for="Feminino">Feminino</label>
            <input type="radio" id="Masculino" value="M" v-model="sexo">
            <label for="Masculino">Masculino</label>
        </p>
        <p>
            Select {{ano}}
        </p>
        <p>
            <select v-model="ano">
                <option disabled value="">Escolha o ano</option>
                <option value="2016">Ano 2016</option>
                <option value="2017">Ano 2017</option>
                <option value="2021">Ano 2021</option>
            </select>
        </p>



        <p>Multiple Selects {{cores}}</p>
        <p>
            <select multiple v-model="cores">
                <option disabled value="">Escolha as cores</option>
                <option>Rosa</option>
                <option>Azul</option>
                <option>Vermelho</option>
            </select>
        </p>

        <p> Lazy:{{busca}} </p>
        <p>
            <input type="text" v-model.lazy="busca">
        </p>



    </div>

    <script type="text/javascript">
        Vue.component('gui-titulo', {
            props: ['titulo'],
            template: '<h2>{{titulo}}</h2>'
        });



        var app = new Vue({
            el: "#app",
            data: {
                texto: '',
                textarea: '',
                termos: false,
                notificacoes: [],
                sexo: null,
                ano: null,
                cores: [],
                busca: ''
            }

        });
    </script>

</body>

</html>