<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Introdução ao Vue JS</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

    <div id="app">
        <gui-titulo titulo="Formulários"></gui-titulo>

        <p>Texto:{{texto}}</p>
        <p>
            <input type="text" v-model="texto">
        </p>
        <p>Textarea:{{textarea}}</p>
        <p style="white-space:pre-line">{{textarea}}</p>
        <p>
            <textarea v-model="textarea" rows="8" cols="80"></textarea>
        </p>
        <p>Checkbox:</p>
        <input type="checkbox" id="aceitaTermos" v-model="termos">
        <label for="aceitaTermos ">{{termos}}</label>

    </div>

    <script type="text/javascript">
        Vue.component('gui-titulo', {
            props: ['titulo'],
            template: '<h2>{{titulo}}</h2>'
        });



        var app = new Vue({
            el: "#app",
            data: {
                texto: '',
                textarea: '',
                termos: false
            }

        });
    </script>

</body>

</html>